<form class="form" [formGroup]="appForm">
  <div class="form-field">
    <label for="name">Name: </label>
    <input type="text" id="name" formControlName="name" />
    <div class="error">
      <span *ngIf="formSubmitted && !form['name'].valid"
        >User name is required.</span
      >
    </div>
  </div>
  <div class="form-field">
    <label for="version">Version: </label>
    <input type="text" id="version" formControlName="version" />
    <div class="error">
      <span *ngIf="formSubmitted && form['version'].errors?.['required']"
        >Version is required.</span
      >
      <span *ngIf="formSubmitted && form['version'].errors?.['pattern']">
        Incorrect format (xx.xx.xx)
      </span>
    </div>
  </div>
  <div class="form-field">
    <label for="contact">Contact: </label>
    <input type="text" id="contact" formControlName="contact" />
    <div class="error">
      <span *ngIf="formSubmitted && !form['contact'].valid"
        >Contact Info is required.</span
      >
    </div>
  </div>
  <div class="form-controls">
    <button [disabled]="isLoading$ | async" (click)="addApplication()">
      Add Card
    </button>
  </div>
</form>
